<div class="footer-grid">

    <!-- Column 1 : Brand -->
    <div class="footer-col">
        <h4 class="footer-brand">PlugIn</h4>
        <p class="footer-text">
            Premium electronics accessories nables, audio & chargers.
        </p>

        <div class="footer-social">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
    </div>

    <!-- Column 2 : Links -->
    <div class="footer-col">
        <h5 class="footer-title">Quick Links</h5>
        <ul class="footer-links">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>
            <li><a href="{% url 'contact_page' %}">Contact</a></li>
        </ul>
    </div>

    <!-- Column 3 : Contact -->
    <div class="footer-col">
        <h5 class="footer-title">Contact</h5>
        <p class="footer-text">📍 India</p>
        <p class="footer-text">📧 support@plugin.com</p>
        <p class="footer-text">📞 +91 98765 43210</p>
    </div>

</div>